
html {
  min-height: 100%;
}

body {
  background-color: #cccccc;
  background-image: url(assets/burger-friends.jpg);
  background-size: cover;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  height:100vh;
}

/* ------------- HEADER BAR -----------------*/

header {
  background-color: #0fb9b1;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  margin-left: 20px;
  border: 0;
  padding: 10px;
  font-size: 3vh;
  font-weight: bold;
}

.add-recipe-button {
    height: 40px;
    width: 150px;
    font-size: 1vw;
    border: 0;
    border-radius: 5px;
    margin-right: 25px;
}


/* ------------- CONTAINERS SECTION -----------------*/

main {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
}

.containers {
  height: 55vh;
  width: 35vw;
  background-color: rgba(225, 225, 225, .9);
  margin-top: 5vh;
  overflow: auto;
}

/* ------------- FORM SECTION -----------------*/

#type-form {
  display: flex;
  flex-direction: column;
  padding: 2.5vw;
  margin-left: 1vw;
  line-height: 225%;
  font-size: 1.25vw;
}

h2 {
  font-size: 2vw;
  font-weight: bold;
}

#submit-button {
  background-color: #0fb9b1;
  border: 0;
  margin: 5% 0;
  height: 50px;
  width: 50%;
  border-radius: 5px;
  font-size: 1vw;
}

.button-border {
    border: 2px double #123d98;
}

span {
  color: #ee5253;
}

/* ------------- RESULT SECTION -----------------*/

#random-dish {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cookpot-icon {
    width: 25%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  text-align: center;
  margin: 0 75px;
  line-height: 300%;
  font-style: italic;
  font-weight: bold;
  margin-top: 5vh;
}

.random-result {
  color: black;
  line-height: 115%;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  font-style: normal;
  margin-top: 0;
}

.clear-button {
  height: 35px;
  width: 5vw;
  background-color: #95a5a6;
  color: white;
  border: 0px;
  border-radius: 5px;
  position: absolute;
  margin-top: 45vh;
  margin-right: -25vw;
}

/* --------------ADD NEW RECIPE FORM--------- */

.new-recipe-form-box {
  background-color: rgba(225, 225, 225, .9);
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#add-new-form {
  border: 0;
  padding: 10px;
  font-size: 20px;
}

#add-new-button {
  height: 5vh;
  width: 7vw;
  margin-left: 1vw;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  background-color: #0fb9b1;
}

.new-recipe-input {
  margin-left: 1vw;
  height: 4vh;
  width: 11vw;
  border: 2px solid #95a5a6;
  border-radius: 5px;
}

.new-recipe-label {
  margin-left: 1vw;
}

.hidden {
  display: none;
}
