
/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/


body {
  background-color: #cccccc;
  background-image: url(assets/burger-friends.jpg);
  background-size: cover;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

/* ------------- HEADER BAR -----------------*/

header {
  background-color: #0fb9b1;
  height: 5%;
  justify-content: space-between;
}

h1 {
  margin: 0;
  margin-left: 5px;
  border: 0;
  padding: 10px;
  font-size: 24px;
}

header > button {
    height: 25px;
    width: 10%;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    position: absolute;
    left: 85%;
    top: 1%;
}


/* ------------- CONTAINERS SECTION -----------------*/

#form-box {
  background-color: rgba(225, 225, 225, .9);
  position: absolute;
  height: 60%;
  width: 35%;
  margin: 3% 55% 37% 10%;

}

#random-dish {
  background-color: rgba(225, 225, 225, .9);
  position: absolute;
  height: 60%;
  width: 35%;
  margin: 3% 10% 37% 55%;
}

/* ------------- FORM SECTION -----------------*/

#type-form {
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  line-height: 250%;
  font-size: 125%;
  font-weight: bold;
}

h2 {
  font-size: 200%;
}

#submit-button {
  background-color: #0fb9b1;
  border: 2px double #123d98;
  margin: 5% 0;
  height: 50px;
  width: 75%;
  border-radius: 5px;
}

span {
  color: #ee5253;
}

/* ------------- RESULT SECTION -----------------*/

#cookpot-icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  display: block;
  width: 25%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 115%;
  display: block;
  position: absolute;
  bottom: 40%;
  top: 25%;
  left: 10%;
  right: 10%;
  text-align: center;
  line-height: 300%;
  font-style: italic;
  font-weight: bold;
}

.random-result {
  color: black;
  display: block;
  line-height: 115%;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  font-style: normal;

}

#clear-button-container {
  position: absolute;
  height: 60%;
  width: 35%;
  margin: 3% 10% 37% 55%;
}

.clear-button {
  background-color: #95a5a6;
  color: white;
  border: 0px;
  height: 35px;
  width: 15%;
  border-radius: 5px;
  position: absolute;
  top: 85%;
  left: 75%;
}

/* --------------ADD NEW RECIPE FORM--------- */

#new-recipe-form-box {
  background-color: rgba(225, 225, 225, .9);
  height: 8%;
  width: 100%;
  position: fixed;
  top: 92%;

}

#add-new-form {
  margin-top: 10px;
  margin-left: 20px;
  border: 0;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

#add-new-button {
  height: 30px;
  width: 10%;
  margin-left: 25px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  background-color: #0fb9b1;
}

.new-recipe-input {
  margin-left: 10px;
  height: 30px;
  width: 10%;
}

.new-recipe-label {
  margin-left: 20px;
}
