
/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/


body {
  background-color: #cccccc;
  background-image: url(assets/burger-friends.jpg);
  background-repeat: center;
  background-size: cover;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  justify-content: space-around;
}
/* ------------- HEADER BAR -----------------*/

header {
  background-color: #0fb9b1;
  height: 5%;
  justify-content: space-between;
}

h1 {
  margin: 0;
  margin-left: 5px;
  border: 0;
  padding: 10px;
  font-size: 24px;
}

header > button {
    height: 25px;
    width: 10%;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    position: absolute;
    left: 85%;
    top: 1%;
}


/* ------------- CONTAINERS SECTION -----------------*/

#form-box {
  background-color: rgba(225, 225, 225, .9);
  position: absolute;
  height: 60%;
  width: 35%;
  margin: 3% 55% 37% 10%;

}

#random-dish {
  background-color: rgba(225, 225, 225, .9);
  position: absolute;
  height: 60%;
  width: 35%;
  margin: 3% 10% 37% 55%;
}

/* ------------- FORM SECTION -----------------*/

form {
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 15%;
  line-height: 300%;
  font-size: 18px;
}

#submit-button {
  background-color: #0fb9b1;
  border: 0px;
  height: 50px;
  width: 85%;
  border-radius: 5px;
}

span {
  color: #ee5253;
}

/* ------------- RESULT SECTION -----------------*/

.containers > img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  display: block;
  width: 25%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: block;
  position: absolute;
  top: 25%;
  left: 10%;
  right: 10%;
  text-align: center;
  line-height: 300%;
  font-style: italic;
}

.random-result {
  color: black;
  display: block;
  line-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
}

.clear-button {
  background-color: #95a5a6;
  color: white;
  border: 0px;
  height: 35px;
  width: 15%;
  border-radius: 5px;
  position: absolute;
  top: 85%;
  left: 75%;
}
